.file_and_floder_list_container {
  max-width: 100%;
  flex-wrap: wrap;
  gap: 30px;
}
.file_or_folder_div {
  width: 100px;
  height: 120px;
  overflow: hidden;
  flex-direction: column;
}
.add_btn {
  width: 80px;
  height: 90px;
  border: 3px dashed gray;
  cursor: pointer;
  border-radius: 8px;
}
.add_icon {
  color: gray;
  text-shadow: 1px black;
}
.margin_0 {
  margin: 0;
}
.margin_top_5 {
  margin-top: 5px;
}
.file_folder_name_text {
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  word-break: break-all;
}
