.modal_container {
  position: fixed;
  z-index: -1111;
  top: 0;
  left: 0;
  background-color: rgba(150, 150, 150, 0.349);
  transform: scale(0);
  transition: all ease-in-out 0.5s;
}

.active_modal {
  transform: scale(1);
  z-index: 1111;
}

.form_container {
  width: 500px;
  height: 80%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.close_icon {
  font-size: 30px;
  right: -10px;
  top: -10px;
  color: #ff0000;
}
